<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<form th:action="@{/auth}" method="post">
    <div><label> User Name : <input type="text" name="userName"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<hr width="75%" align="left"/>
<p>Click <a th:href="@{/createUser}">here</a> to create new user.</p>
</body>
</html>